h1 {
  font-family: "Bungee";
	color : #ffffff;
	margin-left: 0.2em;
	display: inline-block;
	text-align : justify;
}

header {
	background-color : #5E412F;
	width: 100%;
}

body{
  background-color : #FCEBB6;
}

@font-face{
	font-family: "Permanent Marker";
	src: url(PermanentMarker-Regular.ttf);
}

@font-face{
	font-family: "Bungee";
	src : url(Bungee-Regular.ttf);
}

@font-face{
	font-family: "Concert One";
	src : url(ConcertOne-Regular.ttf);
}

select {
	display: inline-block;
	border: 0 !important;
	background-color: #ffffff;
	width: 100%;
}

.select {
	display: inline-block;
	vertical-align: baseline;
	width: 15%;
	right: 0;
}
