h1 {
  font-family: "Bungee";
	color : #ffffff;
	margin-left: 0.2em;
  /*text-align : center;*/
}

header {
  background-color : #5E412F;
}

body{
  background-color : #FCEBB6;
}

@font-face{
	font-family: "Permanent Marker";
	src: url(PermanentMarker-Regular.ttf);
}

@font-face{
	font-family: "Bungee";
	src : url(Bungee-Regular.ttf);
}

@font-face{
	font-family: "Concert One";
	src : url(ConcertOne-Regular.ttf);
}
