<link href='http://fonts.googleapis.com/css?family=Architects+Daughter|Bungee|Handlee|Permanent+Marker&v1' rel='stylesheet' type='text/css'>


<body>

  <ul class="row">
    <li *ngFor="let list of lists" [class.selected]="list === selectedManager" (click)="onSelect(list)">

      <div *ngIf="list.done == false">   <!--Si la liste n est pas entierement faite, je fais apparaitre le nom, ainsi que le bouton d edition et de supression-->

        <div *ngIf="editing==true && list == selectedManager"> <!--si on click le bouton d edition, on ne fais apparaitre l input seulement pour la liste selectionne-->
          <input [(ngModel)]="list.name" type="text" onkeypress="if (event.which==13) document.getElementById('buttsaveL').click()" placeholder="{{list.name}}">
          <button id="buttsaveL" class="btn positive" (click)="saveL()">
              <span class="glyphicon glyphicon-pencil"></span>
          </button>

        </div>

        <div *ngIf="editing == false || list != selectedManager"> <!--si le bouton d edition n est pas click, on fais apparaitre le nom de la liste ainsi que le bouton d edition et de suppression-->
          {{list.name}}
          <button class="btn negative btn-circle" (click)="deleteList(list)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          <button class="btn positive btn-circle" (click)="editing=true;">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </div>


      </div>
      <div *ngIf="list.done == true">  <!--si toutes les taches de la liste sont accomplies, alors on barre le nom de la liste-->

        <div *ngIf="editing==true && list == selectedManager"> <!--si on click le bouton d edition, on ne fais apparaitre l input seulement pour la liste selectionne-->
          <input [(ngModel)]="list.name" type="text" onkeypress="if (event.which==13) document.getElementById('buttsaveL').click()" placeholder="{{list.name}}">
          <button id="buttsaveL" class="btn positive" (click)="saveL()">
              <span class="glyphicon glyphicon-pencil"></span>
          </button>

        </div>

        <div *ngIf="editing == false || list != selectedManager">
          <del><div id="divdel">{{list.name}}</div></del>
          <button class="btn negative btn-circle" (click)="deleteList(list)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          <button class="btn positive btn-circle" (click)="editing=true;">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </div>
      </div>

      <div id="diplay" *ngIf="selectedManager == list">
          <display id="display" (listDone)="handleDone($event)" (listNotDone)="handleNotDone($event)" [MotherList]="selectedManager"></display>
      </div>
    </li>

    <li class="input"> <!-- <li> -->  <!--bouton pour pouvoir ajouter une nouvelle liste-->
      <input #listName class="input-md" type="text" onkeypress="if (event.which==13) document.getElementById('addL').click()" placeholder="new list of task">
      <button id="addL" class="btn positive btn-circle" (click)="addList(listName.value); listName.value='';">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
    </li> <!--</li>-->
</ul>

</body>
