<link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Bungee|Handlee|Permanent+Marker&v1' rel='stylesheet' type='text/css'>
<body>
  <ul class="row">
    <!--
      The TaskManager clicked is binded to he attribute "selectedManager"
      You can select the TaskManager with the "enter" key
    -->
    <div *ngIf="lists != undefined">
    <li *ngFor="let list of lists" [class.selected]="list === selectedManager" 
      (click)="onSelect(list)" 
      (keyup.enter)="onSelect(list)" tabindex="1">

        <!-- If the edit button is clicked, the attribute "isUserEditing" will be set to
          true, this will diplay the input button, but only for the TaskManager
          selected
      -->
        <div *ngIf="list == managerEdited">
          <input id="inputEditName" class="edit" #listName [(ngModel)]="list.name"
            type="text" onkeypress="if (event.which==13) document.getElementById('buttsaveL').click()" 
            placeholder="{{list.name}}">
          <button id="buttsaveL" class="btn btn-circle positive" (click)="saveListName(listName.value)">
              <span class="glyphicon glyphicon-pencil"></span>
          </button>

        </div>

        <!--If the "isUserEditing" attribute is set to false, the name is displayed

      -->
        <div class="editingFalse" *ngIf="list != managerEdited">
          <!-- If the list is not done, we display the name,
            if it is done, the name is strokethrough
        -->
          <div id="divNotDel" *ngIf="list.done == false" class="divNotDel">{{list.name}}</div>
        <div *ngIf="list.done != false">
          <del><div id="divdel">{{list.name}}</div></del>
        </div>
        <!--Those buttons are used to edit and delete the list-->
          <button id="buttonTrash" class="btn negative btn-circle" (click)="deleteList(list)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          <button id="editingTrue" class="btn positive btn-circle" (click)="setManagerEdited(list);">
            <span class="glyphicon glyphicon-pencil"></span>
          </button></div>
        <!--This div is used to display the list of tasks, it needs to stay
          in the "ul" tag or it will display the tasks of all the lists
      -->
      <div id="diplay" *ngIf="selectedManager==list">
          <app-task-display id="display" [MotherList]="selectedManager" tabindex="2"></app-task-display>
      </div>
    </li>
    <!--This div is used to display the input button to create a new TaskManager-->
    <li class="input">
      <input id="inputL" #listName class="input-md" 
        type="text" onkeypress="if (event.which==13) document.getElementById('addL').click()" 
        placeholder="new list of task" tabindex="3">
      <button id="addL" class="btn positive btn-circle" (click)="addList(listName.value); listName.value='';">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
    </li>
  </div>
</ul>


<!--This is the footer that displays the infos of the selectedManager
  the attribute "currentList" is binded to the attribute "selectedManager"
-->
<footer *ngIf="selectedManager">
  <app-current-display></app-current-display>
</footer>

</body>
