h2 {
  font-family: "Architects Daughter";
  text-decoration: underline;
  text-decoration-style: solid;
}
.selected p{
  display : none;
}

.selected input{
  display : inline;
  font-family: "Permanent Marker", arial sans-serif;
  font-variant: small-caps;
}

.selected button{
  display : inline;
}


#edit{
  display : inline;
  margin-left : 4em;
}



#licheck{
  padding-top: 50px;
  padding-bottm: 6px;
}


li{
  margin-top : 1em;
  background-color: #F0BD67;
  border-color: #000000;
}

li:hover{
  background-color:#C99F57;
}


#ulc li {
  padding : 12.5px;

}

input {
  font-family : "Permanent Marker", arial sans-serif;
  font-variant: small-caps;
}

#edit {
  font-family : "Permanent Marker", arial sans-serif;
  font-variant: small-caps;
  font-size : 1.2em;
  background-color: #F0BD67;
  border : none;
  border-bottom : 2px solid #000000;
  border-radius : 0;
  width : 50%;
  margin-left : 0;
}

del {
  font-family : "Permanent Marker";
  text-transform: uppercase;
  color: red;
}

p {
  font-family : "Permanent Marker", arial sans-serif;
  text-transform: uppercase;
  color : #000000;
}

.btn-circle {
  width: 40px;
  height: 40px;
  line-height: 40px; /* adjust line height to align vertically*/
  padding:0;
  border-radius: 50%;

}

#buttnew{
  background-color : #78C0A8;
}

.positive{
  background-color : #78C0A8;
}

.negative{
  background-color : #F07818;
}


.glyphicon{
  color : #ffffff;
}

body{
  background-color : #3882a6;
}
