<link href='http://fonts.googleapis.com/css?family=Architects+Daughter|Bungee|Handlee|Permanent+Marker&v1' rel='stylesheet' type='text/css'>

<body>

<div class="col-md-12 col-sm-12 text-center pull-right-3">
  <div class="col-md-9">
    <input #taskName class="input-md" type = "text" onkeypress="if (event.which==13) document.getElementById('buttnew').click()" placeholder="I have to..." tabindex="1"/>
    <button id="buttnew" class="btn btn-md btn-circle positive" (click)="add(taskName.value); taskName.value=''">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
  </div>

<div class="col-md-12">
    <ul id="ulc" class="task list-group col-md-2">
      <li *ngFor="let task of tasks" class="list-group-item">
          <input  type="checkbox" (click)="updateDoneTask(task); checkDone(0)" [(ngModel)]="task.done"> <!--chaque fois qu on check une tache, on verifie si toutes les taches ont ete cochees-->
      </li>
    </ul>

    <ul class="tasks list-group col-md-10 text-left">
        <li *ngFor="let task of tasks" class="list-group-item" [class.selected]="task === selectedTask" (click)="onSelect(task)" (keyup.enter)="onSelect(task)" tabindex="2">
            <span class="col-md-2-push-1">
                  <!--<input class="checkbox checkbox-success" type="checkbox" [(ngModel)]="task.done">  -->
                  <div *ngIf="task.done == true">
                    <del><p>{{task.name}}<p></del>
                  </div>
                  <div *ngIf="task.done == false">
                    <p>{{task.name}}</p>
                  </div>
            </span>

            <div class="butt" *ngIf="selectedTask == task">
              <input id="edit" class="input-sm" [(ngModel)]="task.name" onkeypress="if (event.which==13) document.getElementById('buttsave').click()" placeholder="{{task.name}}">
              <button class="btn btn-circle negative" (click)="deleteTask(task); $event.stopPropagation()">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
              <button id="buttsave" class="btn  btn-circle positive" (click)="save(task)">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </div>
          </li>
      </ul>
    </div>
</div>

</body>
